*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Lucida Sans', 'Tahoma', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style-type: none;
    transition: all 0.3s;
    user-select:none;
    outline:none;

    --corBranco1:#eee;
    --corFundo1:#531022;
    --corFundo2:#212;
    --corPrimaria:#D04692;
    --corPrimariaClara:#D04692;
    --corPrimariaMaisClara:#E9AACD;
    --corPrimariaEscura:#CB217E;
    --corPrimariaMaisEscura:#B70064;
    --corSecundaria1:#369A9E;
    --corSecundaria1Clara:#5CB1B5;
    --corSecundaria1MaisClara:#5CB1B5;
    --corSecundaria1Escura:#1A9298;
    --corSecundaria1MaisEscura:#018389;
    --corSecundaria2:#FFE356;
    --corSecundaria2Clara:#FFEA81;
    --corSecundaria2MaisClara:#FFEA81;
    --corSecundaria2Escura:#FBD829;
    --corSecundaria2MaisEscura:#E2BD00;
    --corPositivo:#3b3;
    --corNegativo:#b33;
}

a{
    color:inherit;
}

#corpoSite{
    width:100%;
    height:100vh;
    /* border:1px solid #f00; */
    text-align: center;
    overflow:hidden;
    padding-top:1rem;
}

#slotCorpo{
    /* border:1px solid #0f0; */
    height:90%;
    overflow-y:auto;
    overflow-x:hidden;
}

.msgEscondida{
    margin-top:5%;
    /* border:1px solid #f00; */
    visibility: hidden;
    opacity:0;
}

.escondido{
    visibility:hidden;
    opacity:0;
}

.posicaoAbsoluta{
    position: absolute;
    width:100%;
    text-align: center;
}

button{
    font-size:14pt;
    padding:0.2rem 0.8rem;
    border:1px solid;
    background:inherit;
    border-radius:5px;
    cursor:pointer;
}

.btnRedondo{
    --tamanho:3rem;

    width:var(--tamanho);
    height:var(--tamanho);
    padding:0 0 0.2rem 0;
    border-radius:50%;
    font-size:20pt;
}

.linhaOpcoes{
    display:flex;
    justify-content: space-evenly;
    padding:0.5rem 0;
}

.btnPositivo{
    border-color:var(--corPositivo);
    color:var(--corPositivo); 
}

.btnPositivo:hover{
    background:var(--corPositivo);
    color:var(--corBranco1);
}

.btnNegativo{
    border-color:var(--corNegativo);
    color:var(--corNegativo);
}

.btnNegativo:hover{
    background:var(--corNegativo);
    color:var(--corBranco1);
}

#campoMenu{
    /* border:1px solid #00f; */
    height:10%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

#slotMenu{
    --ladoMax:70%;
    --alturaMax:36vh;

    /* position:absolute; */
    width:0;
    height:0;
    max-width:var(--ladoMax);
    max-height:var(--alturaMax);
    margin:0 auto;
    border:1px solid #f00;
    border-radius:10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow:hidden;
    opacity:1;
    z-index:1000;
}

#slotMenu *{
    opacity:1;
}

#campoMenu .menuAberto{
    /* position:absolute; */
    /* animation: AbreMenu 0.5s linear 0.3s forwards; */
    width:var(--ladoMax);
    height:var(--alturaMax);
    /* top:calc((100% - var(--alturaMax))/2);
    left:calc((100% - var(--ladoMax))/2); */

    margin: -80vh auto 0;
}

@keyframes AbreMenu{
    from{
        width:0;
        height:0;
    }

    to{
        width:var(--ladoMax);
        height:var(--ladoMax);
    }
}

#slotMenu .btnMenu{
    position:absolute;
    /* margin-left:calc((var(--ladoMax)*0.5) + (var(--tamanho) * -0.5)); */
    margin-left:calc((var(--tamanho) * -0.5));
    color:var(--corFundo2);
    box-shadow:1px 1px 4px var(--corFundo2);
    opacity:1;
}

#slotMenu .btnAberto{
    margin-left:calc((var(--ladoMax)*0.5) + (var(--tamanho) * -0.5));
    transform:rotate(45deg);
    background:var(--corSecundaria2);
    color:var(--corPrimaria);
    box-shadow:1px 1px 0 var(--corFundo2);
    opacity:1;
}

#slotMenu #menu{
    width:100%;
    height:100%;

    background:var(--corFundo1);
    border:1px solid #00f;
    border-radius:10px;
    padding:0.3rem;
    opacity:1;
}

.linhaMenu{
    /* border:1px solid #f00; */
    height:34%;
    display:flex;
    justify-content: space-between;
    opacity:1;
}

#campoMenu #slotMenu #menu .linhaMenu .blocoMenu{
    width:33%;
    cursor:pointer;
    background:var(--corFundo2);
    border:1px solid;
    color: var(--corPrimariaMaisClara);
    border-radius:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size:10pt;
    opacity:1;
}

.blocoMenu:hover{
    background:var(--corPrimariaMaisClara);
    color:var(--corBranco1);
}

#slotN, #slotS{
    height: 0;
    width: 100%;
    border-left: 30vw solid transparent;
    border-right: 30vw solid transparent;
}

#slotN {
    /* position:absolute; */
    border-top: 18vh solid #f00;
}

#slotS{
    border-bottom: 18vh solid #00f;
}


#slotL{
    position:absolute;
    margin-top:-32%;
    height:20%;
    width:0;
    border-top:18vh solid transparent;
    border-bottom:20vh solid transparent;
    border-left:34vw solid #0f0;
}

@media screen and (min-width: 900px){
    

    #slotMenu{
        --ladoMax:20%;
        --alturaMax:30vh;
    
        width:0;
        height:0;
        max-width:var(--ladoMax);
        max-height:var(--alturaMax);
        margin:calc(20% + (var(--alturaMax)/2)) auto;
        /* border:1px solid #f00; */
        border-radius:10px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        overflow:hidden;
    }
    
    #corpoSite .menuAberto{
        width:var(--ladoMax);
        height:var(--alturaMax);
    
        margin:calc(20%) auto;
    }
    
    #slotMenu .btnMenu{
        position:absolute;
        /* margin-left:calc((var(--ladoMax)*0.5) + (var(--tamanho) * -0.5)); */
        margin-left:calc((var(--tamanho) * -0.5));
        color:var(--corFundo2);
        box-shadow:1px 1px 4px var(--corFundo2);
    }
    
    #slotMenu .btnAberto{
        margin-left:calc((var(--ladoMax)*0.5) + (var(--tamanho) * -0.5));
        transform:rotate(45deg);
        background:var(--corSecundaria2);
        color:var(--corPrimaria);
        box-shadow:1px 1px 0 var(--corFundo2);
    }
    
    #menu{
        width:100%;
        height:100%;
    
        background:var(--corFundo2);
        border:1px solid #00f;
        border-radius:10px;
        padding:0.3rem;
    }
    
    .linhaMenu{
        /* border:1px solid #f00; */
        height:33%;
        display:flex;
        justify-content: space-between;
    }
    
    .blocoMenu{
        width:33%;
        cursor:pointer;
        /* background:var(--corPrimariaMaisClara); */
        border:1px solid;
        color: var(--corPrimariaMaisClara);
        border-radius:20px;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .blocoMenu:hover{
        background:var(--corPrimariaMaisClara);
        color:var(--corBranco1);
    }
}